body{
    margin: 0;
    padding: 0;
}

#header{
    height: 100vh;
    background: url(https://i.imgur.com/S0dQmZH.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box{
    transform: translateY(50px);
    opacity: 0;
    animation: 1s fadein 0.5s forwards;
}
@keyframes fadein{
    100%{
        transform: translateY(10px);
        opacity: 1;
    }
}
.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #fff;
    
}
.user-box h1{
    color: #fff;
    font-family: 'Libre Baskerville',serif;
    font-weight: 700;
    font-size: 28px;
    margin: 10px;
}
.user-box h3{
    color:#fff;
    font-family: 'Muli',sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.demo{
    position:relative;
    top: 190px;
}

@media(max-width: 768px){
    .user-box .h1{
        font-size: 24px;
    }
    .user-box .h3{
        font-size: 18px;
    }
}

 /* --------- Button CSS -------------------  */
 .scroll-btn{
     text-decoration: none !important;
 }
.scroll-btn .btn{
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #fcad26;
  font-family: 'Muli',sans-serif;
  font-size: 25px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 6px #efa424;
  opacity: 0;
  animation: 1s slidein 0.5s forwards;
}
@keyframes slidein{
    100%{
        opacity: 1;
        transform: translateY(-35px);
    }
}
.scroll-btn .btn:hover{
    box-shadow: 0 4px #efa424;
    top: 2px;
    text-decoration: none;
    outline: none;
}

.scroll-btn .btn:active{
    box-shadow: none;
    top: 4px;
}

.about{
    padding-top: 100px;
    margin-bottom: -130px;
}
.profile-img{
    height: 400px;
}
.nav-bar{
    top:0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color: #000;
}
.navbar-brand{
    height: 50px;
    color: #fff;
    font-family: 'Libre Baskerville',serif;
    font-weight: 700;
}
.navbar-brand:hover{
    color: #fcad26;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: white;
    font-family: 'Libre Baskerville',serif;
    font-weight: 400;
    font-size: 14px;
}
.nav-link:hover{
    color: #f06666;
}
@media (max-width: 800px){
    .about{
        grid-column-start: span 12;
    }
    .row .col-md-6{
        margin-top: 20px;
    }
}
.about h3{
    font-family: 'Muli',sans-serif;
    font-weight: 800;
}
.about p{
    font-family: 'Muli',sans-serif;
    font-weight: 400;
}

/*  skills bar design    */
.title-skills{
    font-family: 'Muli',sans-serif;
    font-weight: 800;
    font-size: 2em;
    margin-top: 4em;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: all 400ms ease-in-out;
    margin: 4rem auto;
    text-align: center;
  }
  
  .bar{
    width: 80%;
    margin: 2em auto;
  }
  .skill{
    font-family: 'Muli',sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 0.25em;
  }
  .speech-bubble{
    font-size: 0.75em;
    line-height: 2em;
    color: white;
    position: absolute;
    top: -2.7em;
    text-align: center;
    min-width: 3em;
    border-radius: 0.3em;
    display: none;
  }
  
  .html{
    left: calc(95% - 1.5em);
  }
  
  .design{
    left: calc(75% - 1.5em);
  }
  .frameworks{
    left: calc(80% - 1.5em);
  }
  .sql{
    left: calc(70% - 1.5em);
  }
  .mongodb{
    left: calc(85% - 1.5em);
  }
  .sharp{
    left: calc(70% - 1.5em);
  }
  .git{
    left: calc(90% - 1.5em);
  }
  .json{
    left: calc(80% - 1.5em);
  }
  .wordpress{
    left: calc(70% - 1.5em);
  }
  
  .speech-bubble:after{
    border: 0.5em solid transparent;
    content: "";
    margin-left: -0.5em;
    position: absolute;
    top: 100%;
    left: 50%;
  }
  .bar-outer{
    height: 1.25em;
    background: #eeeeee;
    position: relative;
    border-radius: 0.3em;
  }
  .bar-inner{
    width: 0;
    height: 1.25em;
    border-radius: 0.3em;
  }
  .ht, .html{
    background: #000;
  }
  
  .html:after{
    border-top-color: #000;
  }
  
  .ui, .design{
    background: #000;
  }
  
  .design:after{
    border-top-color: #000;
  }
  .fw, .frameworks{
    background: #000;
  }
  
  .frameworks:after{
    border-top-color: #000;
  }
  .sl, .sql{
    background: #000;
  }
  
  .sql:after{
    border-top-color: #000;
  }
  .mr, .mongodb{
    background: #000;
  }
  
  .mongodb:after{
    border-top-color: #000;
  }
  .cs, .sharp{
    background: #000;
  }
  
  .sharp:after{
    border-top-color: #000;
  }
  .gt, .git{
    background: #000;
  }
  
  .git:after{
    border-top-color: #000;
  }
  .jx, .json{
    background: #000;
  }
  
  .json:after{
    border-top-color: #000;
  }
  .wp, .wordpress{
    background: #000;
  }
  
  .wordpress:after{
    border-top-color: #000;
  }


/*   experience design          */
.resume{
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #f9f9f9;
}
.resume h3{
    font-family: 'Muli',sans-serif;
    font-weight: 800;
    margin-bottom: 50px;
}
.timeline{
    list-style: none;
    position: relative;
}
.timeline:before {
   content: "";
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
    font-family: 'Muli',sans-serif;
}
.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.timeline li:before{
    content: "";
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.timeline li p{
    font-weight: 400;
}

.projects{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Muli',sans-serif;
}
.projects h1{
    font-weight: 800;
    margin-bottom: 15px;
}
.projects p{
    font-weight: 400;
}

.projects-box{
    background: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.projects-box fa{
    margin: 0 10px;
    font-size: 20px;
}
.projects-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: 800;
}
.projects-box p{
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}
.projects-box:hover{
    background: #000;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.projects-box p:hover{
    color: #fff;
}


.contact{
    padding-top: 50px;
    background: url(https://i.imgur.com/S0dQmZH.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Muli',sans-serif;
}
.contact h1{
    font-weight: 800;
}
.contact p{
    font-weight: 400;
}
.contact .row{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 .fa{
    padding: 10px;
    font-size: 40px;
}
.contact .col-md-4:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.contact .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
.contact .btn:focus{
    box-shadow: none !important;
}
.contact .btn:hover{
    border: 2px solid #ef8a17 !important;
    background: #ef8a17 !important;
    transition: 0.6s;
}
.contact .btn .fa{
    margin-right: 10px;
}
.footer{
    background: #43291f;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
    font-family: 'Muli',sans-serif;
}
.footer p{
    font-weight: 600;
}
.fa-heart{
    color: red;
}
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul{
    padding: initial;
}
.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background: #000;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}



