<!DOCTYPE html>
<html class="SmoothScroll">
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shreyank Jadiya | Front End Developer</title>
  <meta name="author" content="Shreyank Jadiya">
  <meta name="description" content="This is my portfolio page">
  <meta name="keywords" content="portfolio,resume,web developer">
  <link rel="stylesheet" href="/stylesheet/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">    
  </head>
    
  <body>
      <!------ Header Section ----->
      
<section id="header">
    <div class="container text-center">
    <div class="user-box">
        <img src="https://i.imgur.com/oJNmxiD.png" alt="shreyank">
        <h1>Shreyank Jadiya | M.Eng - Electrical & Computer</h1>
        <h3>Front End Web Developer <br>
        University of Windsor</h3>
        </div>
        </div>
    <div class="scroll-btn">
    <div class="scroll-bar">
        <a href="#about">
            <span> </span>
        </a>
        </div>
    </div>
      </section>
  
     <!-----------User Info Section-------------------> 
      <section id="user-info">
    <div class="nav-bar">
          <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="https://github.com/EssDeeJay">EssDeeJay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#top">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT ME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#resume">RESUME</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#projects">PROJECTS</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
</div>
          <!--------------------About page------------------------------>
          <div class="about container" id="about">
          <div class="row">
              <div class="col-md-6 text-center">
              <img src="https://i.imgur.com/2HtwXeW.png" class="profile-img">
              </div>
              <div class="col-md-6">
              <h3> > WHO AM I ?</h3>
              <p>My Name is Shreyank Jadiya. I am a Master's Graduate from University of Windsor. I have done my Bachelor's in Electrical Engineering and I went for my Master's in Electrical & Computer as I am passionate about web development and computer networks. I have studied web development and Computer Networks as well as I have also done some projects as part of my coursework and some as a self project to learn and implement new technologies.Here, You can find more about my skills and why I chose to go for web development.</p>
                  <h3> > WHY WEB DEVELOPMENT ?</h3>
                  <p>If you're looking for my profile for the first time, you might be wondering, why I have decided to go for web development?
                  If I explain in short I would say I am a challenge hungry person who likes to complete the challenge. To Know more,Just contact me via e-mail or drop a text. I'm just a click away from you :).</p>
                  <div class="skills-bar">
                      <p>HTML</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 70%;">70%</div>
                      </div>
                      
                      <p>CSS</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 80%;">80%</div>
                      </div>
                      
                      <p>JavaScript</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 75%;">75%</div>
                      </div>
                      
                      <p>jQuery</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 60%;">60%</div>
                      </div>
                      
                      <p>MEN stack (MongoDB,ExpressJS,NodeJS)</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 70%;">70%</div>
                      </div>
                      
                      <p>UI/UX Design</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 85%;">85%</div>
                      </div>
                      
                      <p>Git & Github</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 70%;">70%</div>
                      </div>
                      <p>Front End Frameworks & Libraries</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 65%;">65%</div>
                      </div>
                      <p>Python</p>
                  <div class="progress">
                      <div class="progress-bar" style="width: 60%;">60%</div>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <!---------------------------Sticky Icon Section-------------------------------------------------->
          <div class="social-icons">
          <ul>
            <a href="https://www.linkedin.com/in/shreyank-jadiya-98b355140/"><li><i class="fa fa-linkedin"></i></li></a> 
            <a href="https://codepen.io/Jadiya/"><li><i class="fa fa-codepen"></i></li></a> 
            <a href="https://www.facebook.com/shreyank.jadiya?ref=bookmarks"><li><i class="fa fa-facebook"></i></li></a> 
            <a href="https://github.com/EssDeeJay"><li><i class="fa fa-github"></i></li></a> 
              </ul>
          </div>
          <!-----------------------------Resume---------------------------------->
          <div class="resume" id="resume">
           <div class="container">
              <div class="row">
               <div class="col-md-6">
                  <h3 class="text-center">Experience</h3>
                   <ul class="timeline">
                   <li>
                       <h4>Sales Team Member</h4>
                       <p>- Scanning merchandise quickly and accurate<br>- Greeting all Customers with a warm, friendly smile
<br>- Making change, cashing cheques, and issuing receipts to customers<br>- Correctly counting back change to the Customer to prevent cash overages and shortages<br>
                    <b>Company Name</b> - Paris Southern Lights Inc.<br> 
                    <b>Duration</b> - 1 Year [2018 to 2019]<br>
                    <b>Location</b> - Windsor,ON,Canada.
                       </p>
                       </li>
                       
                       <li>
                       <h4>Engineer</h4>
                       <p>- Designing maintenance strategies, procedures and methods <br> - Diagnosing breakdown problems <br> - Carrying out quality inspections on jobs <br> - Controlling maintenance tools, stores and equipment <br>- Monitoring and controlling maintenance costs <br> - Dealing with emergencies, unplanned faults and repairs<br>
                    <b>Company Name</b> - Neoseal Adhesives Pvt. Ltd.<br> 
                    <b>Duration</b> - 1 Year [2017 to 2018]<br>
                    <b>Location</b> - Vadodara,Gujarat,India.
                       </p>
                       </li>
                   </ul>
                  </div>
                  
                   <div class="col-md-6">
                  <h3 class="text-center">Education</h3>
                   <ul class="timeline">
                   <li>
                       <h4>M.Eng - Electrical & Computer</h4>
                       <p><b>Coursework</b> - Computer Networks, Web development, RF Integrated Circuit Design, Embedded systems programming, Advance Energy storage systems, Hybrid Electrical Vehicles.<br><b>Projects</b> - Weather forecast app using Python, Estimation of objects using estimation techniques in MATLAB, Electrification of Honda civic using lithium ion battery
                           <br>
                    <b>University</b> - University of Windsor<br> 
                    <b>Duration</b> - 1 Year [2018 to 2019]<br>
                    <b>CGPA</b> - 8.3/10
                       </p>
                       </li>
                       
                       <li>
                       <h4>B.E. - Electrical Engineering</h4>
                           <p><b>Coursework</b> - Power Electronics, Advanced Power system, Microcontrollers, Control systems, HVDC, Electrical Machines, Switchgear and protection of electrical equipment’s.<br><b>Projects</b> - High frequency converter for induction heating applications, Automatic light detector.<br>
                    <b>University</b> - Gujarat Technological University(GTU)<br> 
                    <b>Duration</b> - 4 Years [2012 to 2016]<br>
                    <b>CGPA</b> - 9.1/10           
                       </p>
                       </li>
                   </ul>
                  </div>
                  
               </div>
              </div>
          </div>
          
          
          <!-----------------------Projects------------------------------->
          <div class="projects" id="projects">
          <div class="container">
              <h1 class="text-center">My Projects</h1>
              <p class="text-center">Below is Some of my major projects completed as part of my coursework and also self project<br>
                  For More Information, Please Contact me via E-mail or by text.
              </p>
              <div class="row">
              <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-fire"></i><span> HF-ZVS Converter</span>
                <p>Designed High voltage driver circuit needed to supply power for melting of metals<br>- ZVS (Zero Voltage Switching) Driver circuit using TIP35 And IRFZ44, Current limiting circuit design using LM317 IC
                     </p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-cloud"></i><span> Weather Forecaster</span>
                <p>Using terminal and python libraries made a data scrapper to scrap live data from openweathermap API<br>- Requests and JSON library to fetch live API data of any location around the world
                     </p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-bolt"></i><span> Light Detector</span>
                <p>Designed circuit for automatic light detector that senses the darkness and turns on light automatically just like light sensor<br>- PCB Design and soldering to make circuit working and attach the Lamps and LED as well
                     </p>
                  </div> 
                  </div>
              </div>
              </div>
          </div>
          
          
          <!---------------------------Contact form Section--------------------------------->
          <div class="contact" id="contact">
          <div class="container text-center">
              <h1>Contact Me</h1>
              <p class="text-center"> Liked my work and profile ?<br>
              For Collaboration or to hire me, Contact me by One of the following.</p>
              <div class="row">
              <div class="col-md-4">
                 <i class="fa fa-phone"></i> 
                  <p>+1-(226)-961-5077</p>
                  </div>
                  <div class="col-md-4">
                 <i class="fa fa-envelope"></i> 
                  <p>shreyankjadiya120@gmail.com</p>
                  </div>
                  <div class="col-md-4">
                 <i class="fa fa-github"></i> 
                      <p><a>https://github.com/EssDeeJay</a></p>
                  </div>
              </div>
              <button type="button" class="btn btn-primary" onclick="window.location.href ='https://drive.google.com/open?id=1p3Yh90JURJ80ub5Mtyw4MKuMMzW1fLUX';">
                  <i class="fa fa-download"></i> Resume/CV</button>
              </div>
              <div class="footer text-center">
              <p>Made with <i class="fa fa-heart"></i> by Shreyank Jadiya </p>
              </div>
          </div>
      </section>
      
      
      
      <!------------------------jQuery and Bootstrap section--------------------------------->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="/javascript/smooth-scroll.js"></script>
      <script>
	  var scroll = new SmoothScroll('a[href*="#"]'); 
</script>
      
  </body>
</html>