<!DOCTYPE html>
<html class="SmoothScroll">
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Shreyank Jadiya | Web Developer</title>
  <meta name="author" content="Shreyank Jadiya">
  <meta name="description" content="This is my portfolio page">
  <meta name="keywords" content="portfolio,resume,web developer">
<link rel="stylesheet" href="/stylesheet/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Muli:400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/ee427fdc71.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
  </head>
    
  <body>
      <!------ Header Section ----->
      
<section id="header">
    <div class="container text-center">
    <div class="user-box">
        <img src="https://i.imgur.com/oJNmxiD.png" alt="shreyank">
        <h1>Shreyank Jadiya | M.Eng - Electrical & Computer</h1>
        <h3>Web Developer <br><br>
        University of Windsor</h3>
        </div>
        </div>
        <span class="demo">
    <a href="#about" class="scroll-btn"><button class="btn">+</button></a>
    </span>
      </section>
  
     <!-----------User Info Section-------------------> 
      <section id="user-info">
    <div class="nav-bar">
          <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="https://github.com/EssDeeJay">EssDeeJay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#top">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT ME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#resume">RESUME</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#projects">PROJECTS</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
</div>
 <!--------------------About page------------------------------>
          <div class="about container" id="about">
          <div class="row">
              <div class="col-md-6 text-center">
              <img src="https://i.imgur.com/2HtwXeW.png" class="profile-img">
              </div>
              <div class="col-md-6">
              <h3> > WHO AM I ?</h3>
              <p>Hello ! My name is <b>Shreyank Jadiya</b> and I have recently completed my masters in Electrical & Computer from <b>University of Windsor</b> I have started my career as a <b>Front End Engineer</b> ,where my primary responsiblity was to work with software development according to client's requirements. I have 2 years of Hands-on Coding experience designing mainly web apps with expertise in responsive web design, Cross Browser functionality testing and refactoring of code using latest methodologies like TDD and DevOps.</p><p>Parallel with my studies, I have also completed Web development course, followed by self made projects using latest technologies and frameworks. Moreover, my experience as a part time Team member has helped me to gain effective communication skills.</p>
                  <h3> > WHY WEB DEVELOPMENT ?</h3>
                  <p>Coding is all about passion and full of challenges. I do faced a lot challenges figuring out how things flow in development and the more I googled , the more I Learned. Challenges always inspired me and now my passion is at that level that I don't stop until I make something that amazes me.</p>
              </div>
            </div>
          <!----Skills bar design ------------------>
          <div class="row">
            <h2 class="title-skills">My Skills</h2>
          <!-------Skill 1 ---------------->
            <div class="bar">
              <div class="skill">HTML,CSS & JS</div>
              <div class="bar-outer">
             <div class="speech-bubble html">95%</div>
                <div class="bar-inner ht"></div>
              </div>
            </div>
          <!-------Skill 2---------------->
            <div class="bar">
              <div class="skill">UI/UX Design</div>
              <div class="bar-outer">
             <div class="speech-bubble design">75%</div>
                <div class="bar-inner ui"></div>
              </div>
            </div>
          <!-------Skill 3---------------->
            <div class="bar">
              <div class="skill">Frameworks(Node,Express,React,Redux,Angular)</div>
              <div class="bar-outer">
             <div class="speech-bubble frameworks">80%</div>
                <div class="bar-inner fw"></div>
              </div>
            </div>
          <!-------Skill 4---------------->
            <div class="bar">
              <div class="skill">SQL</div>
              <div class="bar-outer">
             <div class="speech-bubble sql">70%</div>
                <div class="bar-inner sl"></div>
              </div>
            </div>
          <!-------Skill 5---------------->
            <div class="bar">
              <div class="skill">MongoDB & Relational Database systems</div>
              <div class="bar-outer">
             <div class="speech-bubble mongodb">85%</div>
                <div class="bar-inner mr"></div>
              </div>
            </div>
          <!-------Skill 6---------------->
            <div class="bar">
              <div class="skill">C#</div>
              <div class="bar-outer">
             <div class="speech-bubble sharp">70%</div>
                <div class="bar-inner cs"></div>
              </div>
            </div>
          <!-------Skill 7---------------->
            <div class="bar">
              <div class="skill">Git & Github</div>
              <div class="bar-outer">
             <div class="speech-bubble git">90%</div>
                <div class="bar-inner gt"></div>
              </div>
            </div>
          <!-------Skill 8---------------->
            <div class="bar">
              <div class="skill">JSON & XML</div>
              <div class="bar-outer">
             <div class="speech-bubble json">80%</div>
                <div class="bar-inner jx"></div>
              </div>
            </div>
          <!-------Skill 9---------------->
            <div class="bar">
              <div class="skill">Wordpress & CMS</div>
              <div class="bar-outer">
             <div class="speech-bubble wordpress">70%</div>
                <div class="bar-inner wp"></div>
              </div>
            </div>
          </div>
          </div>
          <!---------------------------Sticky Icon Section-------------------------------------------------->
          <div class="social-icons">
          <ul>
            <a href="https://www.linkedin.com/in/shreyank-jadiya-98b355140/"><li><i class="fa fa-linkedin"></i></li></a> 
            <a href="https://codepen.io/Jadiya/"><li><i class="fa fa-codepen"></i></li></a> 
            <a href="https://www.facebook.com/shreyank.jadiya?ref=bookmarks"><li><i class="fa fa-facebook"></i></li></a> 
            <a href="https://github.com/EssDeeJay"><li><i class="fa fa-github"></i></li></a> 
              </ul>
          </div>
          <!-----------------------------Resume---------------------------------->
          <div class="resume" id="resume">
           <div class="container">
              <div class="row">
               <div class="col-md-6">
                  <h3 class="text-center">Experience</h3>
                   <ul class="timeline">
                   <li>
                       <h4>Web Developer/Designer</h4>
                       <p>- Worked as a web developer in sub -contractor role<br>- Developed web pages from scratch(.PSDs) and mockups using bootstrap by HTML/CSS/JS & JQUERY.
<br>- Test websites on multiple browsers and mobiles to ensure reliability.<br>- Find potential security flaws in client code using devtools<br>
                    <b>Company Name</b> - Tenpine Web Development<br> 
                    <b>Duration</b> - 3 Months <br>
                    <b>Location</b> - Welland,ON,Canada.
                       </p>
                       </li>
                       
                       <li>
                       <h4> Front End Engineer</h4>
                       <p>- Convert designs into applications using HTML, CSS, JavaScript and modern client-server side frameworks <br> - Write code and create SQL scripts for new products, features and functionalities along with continuously improving existing ones
                    <b>Company Name</b> - Neoseal Adhesives Pvt. Ltd.<br> 
                    <b>Duration</b> - 1 Year [2017 to 2018]<br>
                    <b>Location</b> - Vadodara,Gujarat,India.
                       </p>
                       </li>
                   </ul>
                  </div>
                  
                   <div class="col-md-6">
                  <h3 class="text-center">Education</h3>
                   <ul class="timeline">
                   <li>
                       <h4>M.Eng - Electrical & Computer</h4>
                       <p><b>Coursework</b> - Computer Networks, Web development, RF Integrated Circuit Design, Embedded systems programming, Advance Energy storage systems, Hybrid Electrical Vehicles.<br><b>Projects</b> - Weather forecast app using Python, Estimation of objects using estimation techniques in MATLAB, Electrification of Honda civic using lithium ion battery
                           <br>
                    <b>University</b> - University of Windsor<br> 
                    <b>Duration</b> - 1 Year [2018 to 2019]<br>
                    <b>CGPA</b> - 8.3/10
                       </p>
                       </li>
                       
                       <li>
                       <h4>B.E. - Electrical Engineering</h4>
                           <p><b>Coursework</b> - Power Electronics, Advanced Power system, Microcontrollers, Control systems, HVDC, Electrical Machines, Switchgear and protection of electrical equipment’s.<br><b>Projects</b> - High frequency converter for induction heating applications, Automatic light detector.<br>
                    <b>University</b> - Gujarat Technological University(GTU)<br> 
                    <b>Duration</b> - 4 Years [2012 to 2016]<br>
                    <b>CGPA</b> - 9.1/10           
                       </p>
                       </li>
                   </ul>
                  </div>
                  
               </div>
              </div>
          </div>
          
          
          <!-----------------------Projects------------------------------->
          <div class="projects" id="projects">
          <div class="container">
              <h1 class="text-center">My Projects</h1>
              <p class="text-center">Below is Some of my major projects completed as part of my coursework and also self project<br>
                  For More Information, Please Contact me via E-mail or by text.
              </p>

            <!------Projects sections -->
            <div class="row">
              <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fas fa-comments"></i><span> React Chat App</span>
                <p>An App Made with Node,Express,React and Google's Firebase<br>- App uses Material UI for design and have all features including notifications in real time. <a href="https://chat-me-app-9e152.firebaseapp.com"> Learn More..</a></p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fas fa-globe"></i><span> Gatsby + Contentful Blog</span>
                <p>A Travel Blog Designed in Adobe XD and uses JAMstack + Netlify<br>- Blog is designed using Contentful(CMS) API and Gatsby Framework along with Netlify platform. <a href="https://fervent-brahmagupta-a7969b.netlify.com/"> Learn More..</a></p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fab fa-canadian-maple-leaf"></i><span> Country Guess App</span>
                <p>An app designed as part of learning react and react router with redux state change<br>- App uses state changes to verify the correct answer choosen is right.Third Party API is used for the game. <a href="https://essdeejay.github.io/country_guessing_reactapp/"> Learn More..</a></p>
                  </div> 
                  </div>
              </div>

   <!---------------------row-2 projects section -------------------------------------->

              <div class="row">
              <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-fire"></i><span> YelpCamp</span>
                <p>My First Self made Project from my web development course made with MongoDB and NodeJS<br>Used MEN stack and used RESTful routing and TDD to deploy final App with some amazing features.<a href="https://shreyank-jadiya.herokuapp.com/"> Learn More...</a></p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-cloud"></i><span> Weather Forecaster</span>
                <p>Using terminal and python libraries made a data scrapper to scrap live data from openweathermap API<br>- Requests and JSON library to fetch live API data of any location around the world with successful conversion of data.</p>
                  </div> 
                  </div>
                  
                  <div class="col-md-4">
                 <div class="projects-box">
                  <i class="fa fa-bolt"></i><span> API Demo Project</span>
                <p>Designed a Project by creating own API with Node and Mongo which uses REST techniques for routes<br>JSON API which updates,deletes,posts and shows according to the routing algorithms and stores in database as well. <a href="https://daily-journalapp.herokuapp.com/"> Learn More...</a></p>
                  </div> 
                  </div>
              </div>
              </div>
          </div>
          
          
          <!---------------------------Contact form Section--------------------------------->
          <div class="contact" id="contact">
          <div class="container text-center">
              <h1>Contact Me</h1>
              <p class="text-center"> Liked my work and profile ?<br>
              For Collaboration or to hire me, Contact me by One of the following.</p>
              <div class="row">
              <div class="col-md-4">
                 <i class="fa fa-phone"></i> 
                  <p>+1-(226)-961-5077</p>
                  </div>
                  <div class="col-md-4">
                 <i class="fa fa-envelope"></i> 
                  <p>shreyankjadiya120@gmail.com</p>
                  </div>
                  <div class="col-md-4">
                 <i class="fa fa-github"></i> 
                      <p><a>https://github.com/EssDeeJay</a></p>
                  </div>
              </div>
            <button type="button" class="btn btn-primary" onclick="window.location.href='https://drive.google.com/file/d/1VW5TKbNJwMleNKB67wqeWLuME9dSU-fE/view'">
                  <i class="fa fa-download"></i> Resume/CV</button>
              </div>
              <div class="footer text-center">
              <p>Made with <i class="fa fa-heart"></i> by Shreyank Jadiya </p>
              </div>
          </div>
      </section>
      
      
      
      <!------------------------jQuery and Bootstrap section--------------------------------->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="/javascript/smooth-scroll.js"></script>
      <script>
    var scroll = new SmoothScroll('a[href*="#"]'); 
</script>
 <script src="/javascript/home.js"></script>        
  </body>
</html>